*{
    padding: 0%;
    margin: 0%;
    box-sizing: 0%;
}
body{
  background-color: #FFF;
}
.saavedra{
    transform: translate(550px);
    border: 3px solid lightblue;
    transition: border-radius 0.40s;
    box-shadow: 2px 5px 5px skyblue;
    border-radius: 50px;

}

.saavedra.hover{
border-radius: 50px;
filter:grayscale(0%) ;
}
h1{
    font-family: arial;
    text-align: center;
   
}
p{
    width: 400px;
    text-align:center ;
    transform: translate(500px, 0px);
}
.btn {
    background-color:mediumaquamarine ;
    border:none ;
    padding-left: 6px ;
    padding-right: 6px;
    justify-items: center;
    transform: translate(650px, 0px);
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: 2px 5px 5px skyblue;
    border-radius: 5px;
}
.btn:hover {
    opacity: 0.6;
}
.btn:active{
    opacity: 0.3;
}
.link{
    text-decoration: none;
    color: blue;
    list-style: none;
}
li a {
    transform: translate();
}
.survey{
    transform: translate(600px 0px);
    line-height: 10px;
    text-align: center;
}